/* Write your CSS here */
.home-inner-container {
  background-color: #ffffff;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-image {
  height: 200px;
  width: 200px;
}

.home-heading {
  color: #1e293b;
  font-family: 'Roboto';
  font-weight: bold;
}

.home-inner-dark-container {
  background-color: #000000;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-dark-heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: bold;
}

.home-dark-container {
  background-color: #000000;
}

.home-light-container {
  background-color: #ffffff;
}
